<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="teleop_table">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import teleop_table urdf file -->
    <xacro:include filename="$(find papras_table)/description/urdf/single_7dof_metal_arm_hw.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="teleop_table.ros2_control.xacro" />


    <xacro:teleop_table_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
